In [ ]:
# 연산자와 변수

In [6]:
age = 37
print(age + 1)

38

In [2]:
type('HI')

str

In [3]:
type(711)

int

In [4]:
type(7.11)

float

In [5]:
type(age)

int

In [7]:
#표준 입출력

In [8]:
age = input('나이 : ')

나이 : 45

In [9]:
age

'45'

In [10]:
type(age)

str

In [11]:
int(age)+10

55

In [12]:
age

'45'

In [13]:
age=int(age)+10

In [14]:
age

55

In [15]:
float(age)

55.0

In [16]:
age = float(age) + 1.4

In [17]:
age

56.4

In [18]:
a = 123
print(a)

123

In [19]:
print("SW"+"is"+"powerful")

SWispowerful

In [20]:
print("SW""is""powerful")

SWispowerful

In [21]:
print("SW","is","powerful")

SW is powerful

In [22]:
print("나이는",age,"세 입니다.")

나이는 56.4 세 입니다.

In [23]:
f = open("data.txt","w")
f.close()

In [30]:
### 리스트와 딕셔너리 ###

In [31]:
a = [1,2,3,4,5]

In [32]:
a[3]

4

In [33]:
a[0]+a[2]

4

In [34]:
a[0:2]

[1, 2]

In [35]:
a.append(6)

In [36]:
a

[1, 2, 3, 4, 5, 6]

In [37]:
a.pop()

6

In [38]:
a

[1, 2, 3, 4, 5]

In [39]:
a.extend([6,7])

In [40]:
a

[1, 2, 3, 4, 5, 6, 7]

In [41]:
a = {1 : 'a'}
a[2] = 'b'

In [42]:
a

{1: 'a', 2: 'b'}

In [43]:
a['name'] = 'gogh'

In [44]:
a

{1: 'a', 2: 'b', 'name': 'gogh'}

In [45]:
del a[1]

In [46]:
a

{2: 'b', 'name': 'gogh'}

In [47]:
# 선택문(if문)

In [51]:
count = int(input())
if count >= 40 :
    cls = 3
elif count >= 30 :
    cls = 2
elif count >= 20:
    cls = 1
else :
    cls = 0
print(cls,'클래스입니다.')

45
3 클래스입니다.

In [52]:
# 반복문(for문)

In [53]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [54]:
for i in range(2,5): 
    for j in range(1, 10): 
        print('%d*%d=' %(i, j), i*j, end=" ") # end=' ' : 줄바꿈 방지, 한줄로 출력
    print('') # 다음 줄에 출력

2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5= 10 2*6= 12 2*7= 14 2*8= 16 2*9= 18
3*1= 3 3*2= 6 3*3= 9 3*4= 12 3*5= 15 3*6= 18 3*7= 21 3*8= 24 3*9= 27
4*1= 4 4*2= 8 4*3= 12 4*4= 16 4*5= 20 4*6= 24 4*7= 28 4*8= 32 4*9= 36